<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="UCM2DEVS Category"
            id="Project.commands.category">
      </category>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.systemCommand"
            name="System">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.qualityRequirementCommand"
            name="QualityRequirement">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.softwareArchitectureSpecificationCommand"
            name="SoftwareArchitectureSpecification">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.softwareArchitectureEvaluationCommand"
            name="SoftwareArchitectureEvaluation">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.reportsCommand"
            name="Reports">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="project.handlers.SystemHandler"
            commandId="Project.commands.systemCommand">
      </handler>
      <handler
            class="project.handlers.QualityRequirementHandler"
            commandId="Project.commands.qualityRequirementCommand">
      </handler>
      <handler
            class="project.handlers.SoftwareArchitectureSpecificationHandler"
            commandId="Project.commands.softwareArchitectureSpecificationCommand">
      </handler>
      <handler
            class="project.handlers.SoftwareArchitectureEvaluationHandler"
            commandId="Project.commands.softwareArchitectureEvaluationCommand">
      </handler>
      <handler
            class="project.handlers.ReportsHandler"
            commandId="Project.commands.reportsCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Project.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Project.menus.sampleMenu"
               label="UCM2DEVS"
               mnemonic="M">
            <command
                  commandId="Project.commands.systemCommand"
                  id="Project.menus.systemCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="Project.commands.qualityRequirementCommand"
                  id="Project.menus.qualityRequirementCommand"
                  mnemonic="Q">
            </command>
            <command
                  commandId="Project.commands.softwareArchitectureSpecificationCommand"
                  id="Project.menus.softwareArchitectureSpecificationCommand"
                  mnemonic="SAS">
            </command>
            <command
                  commandId="Project.commands.softwareArchitectureEvaluationCommand"
                  id="Project.menus.softwareArchitectureEvaluationCommand"
                  mnemonic="SAE">
            </command>
            <command
                  commandId="Project.commands.reportsCommand"
                  id="Project.menus.reportsCommand"
                  mnemonic="R">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Project.toolbars.sampleToolbar">
            <command
                  commandId="Project.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="Project.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="project.preferences.SystemPreferencePage"
            id="project.preferences.SystemPreferencePage"
            name="UCM2DEVS ">
      </page>
      <page
		name="Software Architecture Specification"
		category="project.preferences.SystemPreferencePage"
		class="project.preferences.SoftwareArchitectureSpecificationPage"
		id="project.preferences.SoftwareArchitectureSpecificationPage"/>	
	 <page
		name="New System Preference Page"
		category="project.preferences.SystemPreferencePage"
		class="project.preferences.NewSystemPreferencePage"
		id="project.preferences.NewSystemPreferencePage"/>	
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="project.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
