<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="UCM2DEVS Category"
            id="Project.commands.category">
      </category>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.newSystemCommand"
            name="NewSystem">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.newQualityRequirementCommand"
            name="NewQualityRequirement">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.SoftwareArchitectureSpecificationCommand"
            name="SoftwareArchitectureSpecification">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.softwareArchitectureEvaluationCommand"
            name="SoftwareArchitectureEvaluation">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.reportsCommand"
            name="Reports">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.editSystemCommand"
            name="EditSystem">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="project.handlers.NewSystemHandler"
            commandId="Project.commands.newSystemCommand">
      </handler>
      <handler
            class="project.handlers.NewQualityRequirementHandler"
            commandId="Project.commands.newQualityRequirementCommand">
      </handler>
      <handler
            class="project.handlers.SoftwareArchitectureSpecificationHandler"
            commandId="Project.commands.softwareArchitectureSpecificationCommand">
      </handler>
      <handler
            class="project.handlers.SoftwareArchitectureEvaluationHandler"
            commandId="Project.commands.softwareArchitectureEvaluationCommand">
      </handler>
      <handler
            class="project.handlers.ReportsHandler"
            commandId="Project.commands.reportsCommand">
      </handler>
      <handler
            class="project.handlers.EditSystemHandler"
            commandId="Project.commands.editSystemCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Project.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Project.menus.sampleMenu"
               label="UCM2DEVS"
               mnemonic="M">
            <command
                  commandId="Project.commands.newSystemCommand"
                  id="Project.menus.newSystemCommand"
                  label="New System"
                  mnemonic="S">
            </command>
            <command
                  commandId="Project.commands.editSystemCommand"
                  id="Project.menus.editSystemCommand"
                  label="Edit System"
                  mnemonic="E">
            </command>
            <command
                  commandId="Project.commands.newQualityRequirementCommand"
                  id="Project.menus.newQualityRequirementCommand"
                  label="New Quality Requeriment"
                  mnemonic="Q">
            </command>
            <command
                  commandId="Project.commands.softwareArchitectureSpecificationCommand"
                  id="Project.menus.softwareArchitectureSpecificationCommand"
                  label="Software Architecture Specification"
                  mnemonic="SAS">
            </command>
            <command
                  commandId="Project.commands.softwareArchitectureEvaluationCommand"
                  id="Project.menus.softwareArchitectureEvaluationCommand"
                  label="Software Architecture Evaluation"
                  mnemonic="SAE">
            </command>
            <command
                  commandId="Project.commands.reportsCommand"
                  id="Project.menus.reportsCommand"
                  label="Report"
                  mnemonic="R">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Project.toolbars.sampleToolbar">
            <command
                  commandId="Project.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="Project.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="project.preferences.NewSystemPreferencePage"
            id="project.preferences.NewSystemPreferencePage"
            name="New System ">
      </page>
      <page
		name="Software Architecture Specification"
		category="project.preferences.SystemPreferencePage"
		class="project.preferences.SoftwareArchitectureSpecificationPreferencePage"
		id="project.preferences.SoftwareArchitectureSpecificationPreferencePage"/>	
	<page
       category="project.preferences.SystemPreferencePage"
       class="project.preferences.NewQualityRequirementPreferencePage"
       id="project.preferences.NewQualityRequirementPreferencePage"
       name="New Quality Requirement Preference Page">
	 </page>
	  <page
       category="project.preferences.SystemPreferencePage"
       class="project.preferences.SearchQualityRequirementPreferencePage"
       id="project.preferences.SearchQualityRequirementPreferencePage"
       name="Search Quality Requirement Preference Page">
	 </page>	
	 <page
       category="project.preferences.SystemPreferencePage"
       class="project.preferences.EditSystemPreferencePage"
       id="project.preferences.EditSystemPreferencePage"
       name="Edit System Preference Page">
	 </page>	
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="project.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
