<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="UCM2DEVS Category"
            id="Project.commands.category">
      </category>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.newSystemCommand"
            name="NewSystem">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.newQualityRequirementCommand"
            name="NewQualityRequirement">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.softwareArchitectureSpecificationManagementCommand"
            name="SoftwareArchitectureSpecificationManagement">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.softwareArchitectureSpecificationNewCommand"
            name="SoftwareArchitectureSpecificationNew">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.softwareArchitectureSpecificationOpenCommand"
            name="SoftwareArchitectureSpecificationOpen">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.softwareArchitectureEvaluationCommand"
            name="SoftwareArchitectureEvaluation">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.reportsCommand"
            name="Reports">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.editSystemCommand"
            name="EditSystem">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.editQualityRequirementCommand"
            name="EditQualityRequirement">
      </command>
      <command
            categoryId="Project.commands.category"
            id="Project.commands.systemConfigurationCommand"
            name="SystemConfiguration">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="project.handlers.NewSystemHandler"
            commandId="Project.commands.newSystemCommand">
      </handler>
      <handler
            class="project.handlers.NewQualityRequirementHandler"
            commandId="Project.commands.newQualityRequirementCommand">
      </handler>
      <handler
            class="project.handlers.EditQualityRequirementHandler"
            commandId="Project.commands.editQualityRequirementCommand">
      </handler>
      <handler
            class="project.handlers.SoftwareArchitectureSpecificationOpenHandler"
            commandId="Project.commands.softwareArchitectureSpecificationOpenCommand">
      </handler>
      <handler
            class="project.handlers.SoftwareArchitectureSpecificationManagementHandler"
            commandId="Project.commands.softwareArchitectureSpecificationManagementCommand">
      </handler>
      <handler
            class="project.handlers.SoftwareArchitectureSpecificationNewHandler"
            commandId="Project.commands.softwareArchitectureSpecificationNewCommand">
      </handler>
      <handler
            class="project.handlers.SoftwareArchitectureEvaluationHandler"
            commandId="Project.commands.softwareArchitectureEvaluationCommand">
      </handler>
      <handler
            class="project.handlers.ReportsHandler"
            commandId="Project.commands.reportsCommand">
      </handler>
      <handler
            class="project.handlers.EditSystemHandler"
            commandId="Project.commands.editSystemCommand">
      </handler>
      <handler
            class="project.handlers.SystemConfigurationHandler"
            commandId="Project.commands.systemConfigurationCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Project.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Project.menus.sampleMenu"
               label="UCM2DEVS"
               mnemonic="M">
            <command
                  commandId="Project.commands.systemConfigurationCommand"
                  id="Project.menus.systemConfigurationCommand"
                  label="%SystemConfiguration"
                  mnemonic="E"
                  style="push">
            </command>
          	 <menu
            	  label="%SystemManagement">
           			<command
           			    commandId="Project.commands.newSystemCommand"
                	    id="Project.menus.newSystemCommand"
                	    label="%New"
               		    mnemonic="S"
                 		style="push">
           			</command>
         		    <command
            	        commandId="Project.commands.editSystemCommand"
                	    id="Project.menus.editSystemCommand"
           		        label="%Edit "
          	  	        mnemonic="E"
          	  	        style="push">
        		    </command>
     	    </menu>
     	    <menu
            	  label="%QualityRequirementManagement">
           			<command
              		    commandId="Project.commands.newQualityRequirementCommand"
                	    id="Project.menus.newQualityRequirementCommand"
                  		label="%New"
                  		mnemonic="Q"
                 		style="push">
           			</command>
         		    <command
                  	 	commandId="Project.commands.editQualityRequirementCommand"
                  		id="Project.menus.editQualityRequirementCommand"
                  		label="%Edit "
                  		mnemonic="SQR"
          	  	        style="push">
        		    </command>
     	    </menu>
     	    <menu
            	   label="%SoftwareArchitectureSpecification">
           			<command
              		    commandId="Project.commands.softwareArchitectureSpecificationNewCommand"
                	    id="Project.menus.softwareArchitectureSpecificationNewCommand"
                  		label="%New"
                  		mnemonic="N"
                 		style="push">
           			</command>
              <command
                    commandId="Project.commands.softwareArchitectureSpecificationOpenCommand"
                    id="Project.menus.softwareArchitectureSpecificationOpenCommand"
                    label="%Open"
                    mnemonic="O"
                    style="push">
              </command>
         		    <command
                  	 	commandId="Project.commands.softwareArchitectureSpecificationManagementCommand"
                  		id="Project.menus.softwareArchitectureSpecificationManagementCommand"
                  		label="%Management"
                  		mnemonic="SASM"
          	  	        style="push">
        		    </command>
     	    </menu>
            <command
                  commandId="Project.commands.softwareArchitectureEvaluationCommand"
                  id="Project.menus.evaluationCommand"
                  label="%Evaluation"
                  mnemonic="E">
               <handler
                     class="project.handlers.SoftwareArchitectureEvaluationHandler"
                     commandId="Project.commands.SoftwareArchitectureEvaluationCommand">
               </handler>
            </command>
            <command
                  commandId="Project.commands.reportsCommand"
                  id="Project.menus.reportsCommand"
                  label="%Report"
                  mnemonic="R">
               <handler
                     class="project.handlers.SoftwareArchitectureSpecificationNewHandler"
                     commandId="Project.commands.SoftwareArchitectureSpecificationNewCommand">
               </handler>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="project.preferences.UCM2DEVSPreferencePage"
            id="project.preferences.UCM2DEVS"
            name="UCM2DEVS">
      </page>
      <page
      		category="project.preferences.UCM2DEVS"
            class="project.preferences.NewSystemPreferencePage"
            id="project.preferences.NewSystemPreferencePage"
            name="%NewSystem">
      </page>
      <page
			name="%SoftwareArchitectureSpecificationManagement"
			category="project.preferences.UCM2DEVS"
			class="project.preferences.SoftwareArchitectureSpecificationManagementPreferencePage"
			id="project.preferences.SoftwareArchitectureSpecificationManagementPreferencePage"/>	
	  <page
      		category="project.preferences.UCM2DEVS"
       		class="project.preferences.NewQualityRequirementPreferencePage"
       		id="project.preferences.NewQualityRequirementPreferencePage"
       		name="%NewQualityRequirement">
	  </page>
	  <page
       		category="project.preferences.UCM2DEVS"
       		class="project.preferences.EditQualityRequirementPreferencePage"
       		id="project.preferences.EditQualityRequirementPreferencePage"
       		name="%EditQualityRequirement">
	 </page>	
	 <page
       		category="project.preferences.UCM2DEVS"
       		class="project.preferences.EditSystemPreferencePage"
       		id="project.preferences.EditSystemPreferencePage"
       		name="%EditSystem">
	 </page>
  <page
        category="project.preferences.UCM2DEVS"
        class="project.preferences.SoftwareArchitectureSpecificationPreferencePage"
        id="project.preferences.SoftwareArchitectureSpecificationPreferencePage"
        name="%SoftwareArchitectureSpecification">
  </page>
  <page
        category="project.preferences.UCM2DEVS"
        class="project.preferences.SoftwareArchitectureSpecificationNewPreferencePage"
        id="project.preferences.SoftwareArchitectureSpecificationNewPreferencePage"
        name="%SoftwareArchitectureSpecificationNew">
  </page>
  <page
        category="project.preferences.UCM2DEVS"
        class="project.preferences.SoftwareArchitectureSpecificationOpenPreferencePage"
        id="project.preferences.SoftwareArchitectureSpecificationOpenPreferencePage"
        name="%SoftwareArchitectureSpecificationOpen">
  </page>
  <page
        category="project.preferences.UCM2DEVS"
        class="project.preferences.SoftwareArchitectureEvaluationPreferencePage"
        id="project.preferences.SoftwareArchitectureEvaluationPreferencePage"
        name="%Evaluation">
  </page>
  <page
        category="project.preferences.UCM2DEVS"
        class="project.preferences.ReportsPreferencePage"
        id="project.preferences.ReportsPreferencePage"
        name="%Report">
  </page>
  <page
        category="project.preferences.UCM2DEVS"
        class="project.preferences.SystemConfigurationPreferencePage"
        id="project.preferences.SystemConfigurationPreferencePage"
        name="%SystemConfiguration">
  </page>	
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="project.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
